@tailwind base;
@tailwind components;
@tailwind utilities;

.homewrapper {
  background-image: linear-gradient(
      356deg,
      rgba(77, 10, 26, 0.7) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    url("/basementbg.png");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  color: white;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.upcoming {
  display: flex;
  font-size: 72px;
  justify-content: center;
  padding-bottom: 45px;
}
.eventwrapper {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  padding-bottom: 50px;
}

.datetime {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Align items to the start (left) */
  position: relative;
}

.month-day {
  font-size: 20px;
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  left: 0;
  display:flex;
}

.day {
  font-size: 50px;
  opacity: 0.4;
}

.time {
  font-size: 18px;
  margin-top: 60px;
  
}

.headdesc {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricediv {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  
  .navbar .hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  
  .hamburger-icon .line {
    width: 50%;
    height: 2px;
    background-color: #000;
    margin-bottom: 6px;
  }
  
  /* Styles for the open state of the hamburger menu */
  .hamburger-icon.open .line:first-child {
    transform: translateY(8px) rotate(45deg);
  }
  
  .hamburger-icon.open .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-icon.open .line:last-child {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .banner {
  height: 800px;
  background-image: linear-gradient(
      356deg,
      rgba(255,255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0.7) 100%
    ),
    url("/winemountain.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:10px;
}

.join {
  background-color:white !important ;
  border-radius: 15px;
  height: 100px;
  width: 370px;
  font-size: 32px;
  margin-bottom: 50px;
  color: black;
  -webkit-box-shadow: 17px 17px 19px 3px rgba(166, 19, 84, 1);
  -moz-box-shadow: 17px 17px 19px 3px rgba(166, 19, 84, 1);
  box-shadow: 17px 17px 19px 3px rgba(166, 19, 84, 1);
  padding: 10px;
  margin-top:10px;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Nunito", sans-serif;
    color: #333;
    font-weight: 300;
    line-height: 1.6;
    box-sizing: border-box;
}

.container {
    margin: 2rem auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 8vw);
    grid-gap: 1.5rem;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    /** Alternative Syntax **/
    /* grid-column: 1 / span 2;  */
    /* grid-row: 1 / span 2; */
}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;

    /** Alternative Syntax **/
    /* grid-column: 3 / span 2;  */
    /* grid-row: 1 / span 2; */
}

.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;

    /** Alternative Syntax **/
    /* grid-column: 5 / span 4;
  grid-row: 1 / span 5; */
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;

    /** Alternative Syntax **/
    /* grid-column: 1 / span 4;  */
    /* grid-row: 3 / span 3; */
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;

    /** Alternative Syntax **/
    /* grid-column: 1 / span 4; */
    /* grid-row: 6 / span 3; */
}

.gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;

    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
}

.gallery__img {
    cursor: pointer;
}

.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: 15% auto;
    display: block;
    width: auto;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.gridwrapper {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin-top: 10px;
}

.griditem {
  background-color: #b2bb91;
  height: 350px;
  display: flex;
  flex-direction: column;
  border-radius:25px;
  justify-content:space-evenly;
  margin-left:10px;
  margin-right:10px;
  align-items:center;
}

/* Grid layout */
.gridwrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.griditem {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
  perspective: 1000px; /* Create 3D effect */
  position: relative;
}

/* Flip Card Effect */
.griditem .gridhead,
.griditem .gridbutton {
  z-index: 1;
  position: relative;
}

.griditem .back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: opacity 0.5s, transform 0.5s;
  padding: 20px; /* Reduced from 120px */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.griditem.flip .back {
  opacity: 1;
  transform: rotateY(0deg);
}

.griditem.flip .gridhead,
.griditem.flip .gridbutton {
  opacity: 0;
}

.eventpagehead {
  text-shadow: 2px 2px 4px #000000;

}

.homeeventhead {
  text-shadow: 2px 2px 4px #000000;
  margin-top: 10px;
  margin-bottom: 10px;
}

.upcoming {
    text-shadow: 2px 2px 4px #000000;

}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

@media screen and (max-width: 1000px) {
.gridwrapper {
      grid-template-columns: repeat(1, 1fr);

}

}

.griditem {
  background-image: url('/sampleeventbg.png')
}
.event-link-button {
  position: relative;
  z-index: 20;
}

.griditem .back {
  z-index: 10;
}

.griditem.flip .back {
  z-index: 20;
}
@media (min-width: 768px) {
  .sidebar {
    display: block; /* Adjust as needed */
  }
}

/* Adjust main content area for mobile screens */
.main-content {
  padding: 4px; /* Smaller padding on mobile */
}

@media (min-width: 768px) {
  .main-content {
    padding: 16px; /* Larger padding on desktop */
  }
}

/* Adjust text sizes for mobile */
.text-base {
  font-size: 14px; /* Smaller font size on mobile */
}

@media (min-width: 768px) {
  .text-base {
    font-size: 16px; /* Default font size on desktop */
  }
}